
.jumbotron
	%header
		%h1 Upla et voilà !

	%form{ role: "form", action: "/upload", method: "post", enctype: "multipart/form-data" }
		.form-group
			%label{ for: "file-to-upload" } Choix du fichier à uploader
			%input.form-control{ type: "file", name: "file_to_upload", id: "file-to-upload" }
			%p.help-block Tous fichiers acceptés, limitation à 5Mo par fichier.

		%button{ type: "submit", class: "btn btn-primary btn-large" }
			Upload!

	= styled_flash

.row
	.col-xs-12
		%h2 Votre dépôt

		%p
			Créer un dépôt en vous inscrivant pour ainsi mettre en place vos propres dossiers et vous organiser !
			%br
			Placer des attributs (privés ou publics) sur vos dossiers ou fichiers si vous désirez ou non les partager.

