!!! 5
%html{ lang: "fr" }
	%head
		%title= @page_title || "Upla: uploader simplement !"
		%meta{ charset: "utf-8" }
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
		%link{ rel: "stylesheet", href: "/css/bootstrap.min.css" }
		%link{ rel: "stylesheet", href: "/css/bootstrap-responsive.min.css" }
		%link{ rel: "stylesheet", href: "/css/style.css" }

	%body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					%a{ class: "brand", href: "/" }
						%i{ class: "icon-home icon-white" }
						Upla

		.container
			= yield

			%hr
			%footer
				%p
					&copy; Compagnie 2012
