!!! 5
%html{ lang: "fr" }
  %head
    %title= @page_title || "Upla : uploader simplement !"
    %meta{ charset: "utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    %link{ rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" }
    %link{ rel: "stylesheet", href: "/stylesheets/application.css" }

  %body
    .navbar.navbar-inverse.navbar-fixed-top{ role: "navigation" }
      .container
        %a.navbar-brand{ href: "/" }
          Upla

    .container
      = yield

      %hr
      %footer
        %p
          &copy; Upla 2012-2014

    %script{ src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" }
